<!DOCTYPE html>
<html>
  <head>
    <title>Streben</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%# <link rel="shortcut icon" href="app/assets/images/shortcut_icon.png" type="image/x-icon" /> %>
    <link rel="shortcut icon" href="../../assets/images/shortcut_icon.png" type="image/x-icon" />
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> window.splashURL = "<%= image_url('splash.png') %>" </script>
    <script type="text/javascript"> window.githubURL = "<%= image_url('github_icon.svg') %>" </script>
    <script type="text/javascript"> window.linkedinURL = "<%= image_url('linkedin_icon.png') %>" </script>
    <link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-
      B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous">
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': '<%= current_user.username %>'
        }
      </script>
    <% end %>
    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
